.game-window {
    width: auto;
    overflow: hidden;
    height: 100vh;
    padding-bottom: 200px;
    background-image: url(./../../assets/images/artwork/backgrounds/julian-calle-spacestation.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.overview {
    margin-left: auto;
}

.bottom-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #181818;
    opacity: 0.9;
}