/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #acacac; 
}
 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73); 
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.overview-wrapper {
  width: 400px;
  float: right;
  margin: 10px;
  padding-top: 5px;
  background-color: #282828;
  opacity: 0.8;
}

.overview-wrapper h3 {text-align: center;}

.overview-container {
  float: right;
  overflow: auto;
  width: 400px;
  height: 350px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* Table Styles */

.full-width-table {
  width: 100%;
}


th { /* Table Header */ 
  background-color: #181818;
  border-color: rgb(34, 34, 34);
  color: #fff;
}

.table-header {
  height: 35px;
}

td { /* Table rows... kinda, but not really */
  color: #c0c0c0;

  /* Prevent text selection in different browsers */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.table-row {
  height: 35px;
  background-color: #242424;
  cursor: default;

  /* Prevent text selection in different browsers */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* Selected Row */
.selected {
  background: #303030;
}

/* Buttons */

.ov-button {
  margin-bottom: 3px;
  border-radius: 0;
  background-color: #555;
}